# 为了保证mysql能用上正经最大4字节的变长utf8编码需要进行的config
[client]

default-character-set=utf8

 

[mysql]

default-character-set=utf8

 

[mysqld]

#init_connect='SET collation_connection = utf8_unicode_ci'

#init_connect='SET NAMES utf8'

character-set-server=utf8
collation-server=utf8_general_ci


#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

#collation-server=utf8_unicode_ci

#skip-character-set-client-handshake

#skip-name-resolve
